<div class="table-responsive cart-style">
  <table>
    <thead>
      <tr>
        <th width="40">選</th>
        <th>狀態</th>
        <th>商品/單號</th>
        <th>規格/費用</th>
        <th>操作</th>
      </tr>
    </thead>
    <tbody id="packages-table-body">
      <tr>
        <td colspan="5" class="text-center" style="padding: 30px">載入中...</td>
      </tr>
    </tbody>
  </table>
</div>

<div class="sticky-checkout-bar">
  <div class="checkout-info">
    已選 <span id="selected-pkg-count" class="highlight">0</span> 件
  </div>
  <button
    id="btn-create-shipment"
    class="btn btn-primary btn-checkout"
    disabled
  >
    合併打包
  </button>
</div>
<div style="height: 80px"></div>
